<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQCZpIK8m6EiixSpH7Vjiyq-uJ_Uct47Y</string>
	<key>GCM_SENDER_ID</key>
	<string>853903965398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sendagestion.servicioempleadosenda</string>
	<key>PROJECT_ID</key>
	<string>senda-servicio-empleado</string>
	<key>STORAGE_BUCKET</key>
	<string>senda-servicio-empleado.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853903965398:ios:bdc8ee11e9b8715bd41d77</string>
</dict>
</plist>